<nav id="navbar">
    <a href="index.html" class="nav-logo">
      <img src="icons/logo.jpg" alt="Лого РМВ" class="nav-logo-img">
      <div class="nav-logo-text">
        Рада молодих вчених
        <span>Університет · Регіон</span>
      </div>
    </a>
    <ul class="nav-links" id="navLinks">
      <li><a href="index.html#about">Головна</a></li>
      <li><a href="projects.html">Проєкти</a></li>
      <li><a href="news.html">Новини</a></li>
      <li><a href="team.html">Склад</a></li>
      <li><a href="index.html#contacts">Контакти</a></li>
    </ul>
    <div class="nav-right">
      <div class="nav-lang">
        <button class="active">UA</button>
        <button>EN</button>
      </div>
      <div class="nav-hamburger" id="hamburger">
        <span></span><span></span><span></span>
      </div>
    </div>
</nav>