<nav id="navbar">
    <a href="index.html" class="nav-logo">
      <img src="/public/icons/logo.jpg" alt="Лого РМВ" class="nav-logo-img">
      <div class="nav-logo-text">
        <span data-i18n="page_title">Рада молодих вчених</span>
        <span>Університет · Регіон</span>
      </div>
    </a>
    <ul class="nav-links" id="navLinks">
      <li><a href="index.html#hero" data-i18n="nav_home">Головна</a></li>
      <li><a href="index.html#about" data-i18n="nav_projects">Проєкти</a></li>
      <li><a href="index.html#news" data-i18n="nav_news">Новини</a></li>
      <li><a href="index.html#team" data-i18n="nav_team">Склад</a></li>
      <li><a href="index.html#contacts" data-i18n="nav_contacts">Контакти</a></li>
</ul>
    <div class="nav-right">
      <div class="nav-lang">
        <button onclick="setLanguage('ua')" data-lang="ua">UA</button>
        <button onclick="setLanguage('en')" data-lang="en">EN</button>
      </div>
      <div class="nav-hamburger" id="hamburger">
        <span></span><span></span><span></span>
      </div>
    </div>
</nav>